/* Webfont: Lato */

@font-face {
    font-family: 'Lato';
    src: url('/font/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('/font/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/font/Lato-Light.woff') format('woff'), /* Modern Browsers */
         url('/font/Lato-Light.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Lato';
    src: url('/font/Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('/font/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/font/Lato-Bold.woff') format('woff'), /* Modern Browsers */
         url('/font/Lato-Bold.ttf') format('truetype'); 
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}


@font-face {
    font-family: 'Lato-Regular';
    src: url('/font/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('/font/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/font/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('/font/Lato-Regular.ttf') format('truetype'); 
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}