.admin-banner
  text-align center


#admin-logo-image
  width 200px


.admin-container
  width 100%
  height 100%
  position absolute
  bottom 4em
  top 150px
  background-color #F4F4F2


#topNav li a
  font-family "Lato"

.admin-header
  height 115px
  background-color #F7F7F7

#admin-head
  padding-top 37px
  padding-bottom 34px
  font-size 28px


#admin-icon
  width 49px
  position relative
  padding-right 8px
  top 2px


.admin-header-text
  display inline-block
  position relative
  bottom 8px


.admin-body
  height 100%
  text-align center


.choices
  text-align center
  width 320px
  margin 0 auto
  padding-top 50px
  font-family "Lato"


.choice
  height 32px
  margin-bottom 3px
  background-color #E8E9E5


.choicelink
  font-size 17px
  padding-top 8px
  padding-bottom 10px

  a
    color #28565E

  a:hover
    color #00C5B7



