.admin-user-banner
  text-align center
  margin 0 auto
  position relative
  top 59px


#admin-user-logo-image
  width 200px

#topnav
  font-family "Lato"


.admin-user-container
  width 100%
  height 100%
  position absolute
  bottom 4em
  top 150px
  background-color #F4F4F2


.admin-user-header
  height 115px
  background-color #F7F7F7
  margin 0 auto


#admin-user-icon
  width 49px
  margin 0 auto
  position relative
  top 2px
  padding-right 8px


.header-text
  font-size 28px
  text-align center


.admin-user-header-text
  display inline-block
  font-size 28px
  color black
  position relative
  bottom 7px
  // padding-bottom 36px


.admin-user-manage
  width 720px
  margin 0 auto
  padding-bottom 11px
  padding-top 40px
  font-size 13px
  color #C0C9CC
  font-weight 400


#manage-option
  display inline-block
  color #A1B1B0
  font-weight 400

// jTable "Add new record" styles //

#PersonTableContainer
  width 720px
  margin 0 auto


.ui-dialog .ui-dialog-titlebar
  background #00A2B4
  color #F2FFFF
  border-radius 0
  border none

.ui-dialog-buttonset
  width 173px


.ui-dialog .ui-dialog-buttonpane button
  width 82px
  border none
  border-radius 0
  color #F2FFFF
  background #4CBDC0
  margin 0
  float left
  height 35px
  margin-top 9px


.ui-button-text-only .ui-button-text
  padding 0 !important

#AddRecordDialogSaveButton
  width 81px
  border none
  border-radius 0
  color #F2FFFF
  background #4CBDC0
  margin 0
  margin-top 9px
  float right



