/* Login Page Styles*/

#productName {
	display: block !important;
	background-color: #4D9DA2 !important;
	line-height: 1.5em !important;
}

#login input {
	line-height: 2.2em;
}

.ie-arrow {
	padding-left: 0 !important ;
}

#login input {
	line-height: 2.5;
}

.button1 {
	top: -5px;
}
/* Landing Page Styles*/

.circleChoice {
	display: inline;

}

/* nav styles */

#topNav{
	display: block !important;
	background-color: #4D9DA2 !important;
}

/* Send1 Template Styles */

.step-text {
	display: inline;
}

.step-circle {
	display: inline;
}

.step2-item {
	display: inline;
	float: right;
	position: relative;
	right: 20px;
	opacity: 0.5;
}

.send-input {
	line-height:2.3em;
}

.styled-select {
	height: 29px;
}

.styled-select select {
	width: 282px;
}

.srcTag {
	color:#496B71;
	font-size: 19px;
	float:left;
	line-height: 2.5em;
	position: relative;
}

/* Receive Template Styles */

.receive {
	font-family: "Lato";
}

.receive-input {
	line-height: 8;
  	// color: #13474F;
  	font-weight: 300;
  	padding-left: 15px;
  	width: 234px;
  	height: 34px;
  	border: 1px #6AD9C8 solid;
  	border-radius: 1px;
  	margin-bottom: 8px;
}

.receive-content-text {
	font-size: 14px;
}


// Send-confirm Template styles//

.confirm {
	font-family: "Lato"
}

.header-text {
 	font-weight: bold;
 	font-family: "Lato"
}

.confirm-head {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 18px;
}

.confirm-message-head {
	font-weight: bold
}

.confirm-message-body {
	font-weight: bold
}

.ui-dialog .ui-dialog-buttonpane button {
  	background: #4CBDC0;
  	border-radius: 0;
  	border: none;
  	color: #F2FFFF
}

#PersonTableContainer {
  	width: 720px;
  	margin: 0 auto
}

.ui-dialog .ui-dialog-titlebar {
	background: #00A2B4;
	color: #F2FFFF;
  	border-radius: 0;
  	border: none;
  	padding: 0
}

.ui-button-text {
	color: #F2FFFF
}
