.bolded
  font-weight bold

.send-3-container
  width 100%
  margin-left auto
  margin-right auto

  .form-3-content
    padding-top 0
    margin-right auto
    margin-left auto
    width 80%

    .upper-form
      width 63%
      margin-right auto
      margin-left auto
      .form-section
        margin-top 25px
        .form-label
          color #35636A
          font-size 20px
          font-weight 300
          margin-right 32px

        .send
          margin-right 101px
        .receive
          margin-right 80px

        .sender
          color #35636A
          font-size 20px
          font-weight 400

        .form-input
          width 340px
          height 40px
          border 2px solid #7ECCC8
          font-size 20px
          color #35636A
          padding-left 10px
          font-family 'Lato'


      .permissions
        color #35636A
        font-weight bold
        .perm-label
          display inline
          margin-right 24px

      .permissions-box
        display inline

        .perm-left
          width 111px
          height 80px
          background #B3E1DC
          display inline-block
          .header-section
            background #72C5BE
            text-align center
            height 30px
            line-height 2.1em
            color white
            font-family 'Lato'
            font-size 15px
            font-weight normal
          .check-container
            position relative
            top 16px
            text-align center

        .perm-right
          background #B3E1DC
          width 240px
          height 80px
          display inline-block
          .header-section
            background #72C5BE
            text-align center
            height 30px
            line-height 2.1em
            color white
            font-family 'Lato'
            font-size 15px
            font-weight normal
          .check-container
            position relative
            top 16px
            text-align center
            .viewer-text
              margin-right 14px
    .lower-form
      margin-top 26px
      width 63%
      height 400px
      margin-right auto
      margin-left auto
      padding-left 259px
      .medical-file
        max-width 700px
        margin 2px 0
        .file-section
          height 42px
          background #E3E5E0
          display inline-block
          .med-text
            margin-left 16px
            font-size 18px
            color #35636A
            font-weight 400
            position relative
            top 12px
        .one
          width 38%
        .two
          width 23%
          margin-left -2px
        .three
          width 38%
          margin-left -2px

          a
            .expand-button
              position relative
              float right
              right 18px
              top 6px
              background #2CA4A6
              width 30px
              height 30px
              border-radius: 50%;
              behavior url(PIE.php)
              z-index 0
              span
                position relative
                font-size 29px
                font-weight 400
                left 6px
                bottom 1px

            @-moz-document url-prefix()
              .expand-button
                span
                  top 0px

      .text-section
        max-width 700px
        margin-top 25px
        color #393939
        font-size 14px

      .term-section
        max-width 700px
        margin-top 15px
        background #C6E9E5
        height 42px

        span
          font-size 14px
          color #393939
          font-weight 400

        .term-elements
          position relative
          top 12px
          margin-left 15px

.submit-wrapper

  width 100%
  margin-top 30px
  padding-bottom 64px
  height 100px
  .submit-form
    height 38px
    width 200px
    background #7E7E7E
    background-color #7E7E7E
    color white
    font-family Lato
    font-weight 600
    border none
    font-size 18px

    &.is_enabled
      background #00A59D

      // &:hover
      //   background-color: darken($original-color, 15%)

@media all and (max-width: 1189px)
  .send-3-container
      .form-3-content
        .lower-form
          .term-section
            span
              font-size 13px

@media all and (max-width: 1189px)
  .send-3-container
        .form-3-content
          .lower-form
            .term-section
              span
                font-size 11px

@media all and (max-width: 961px)
  .send-3-container
    .form-3-content
      .upper-form
        width 92%
      .lower-form
        width 92%
        padding-left 0
        .term-section
          .term-elements
            span
              padding-top 50px

@media all and (max-width: 823px)
  .send-container
    top 195px

@media all and (max-width: 768px)
  .send-container
    .instruction-text
      font-size 11px

@media only screen and (max-device-width: 768px)
  #send-recipient-to
    margin-right 105px

  #availability-field[type=text]
    -webkit-appearance none
    -moz-appearance none
    border2px solid #abdeda
    line-height 20px
    border-radius 0
    width 332px

  #recipient-field
    -webkit-appearance none
    -moz-appearance none
    border2px solid #abdeda
    line-height 20px
    border-radius 0
    width 332px


