.send-medical-sub
  color black
  text-align: center
  height 66px
  margin-bottom 40px
  background-color #EBEBE7

.send-medical-select
  font-size 15px
  font-weight bold
  text-transform uppercase
  display inline-block
  padding-top 25px

.send-medical-select2
  font-size 13px
  font-weight normal
  display inline-block
  line-height 1


.send-medical-container
  width 286px
  margin 0 auto

  #send-button
    background #26B8A7
    border 1px #26B8A7 solid


.select-file
  color #4f6f75
  font-size 18px
  font-family 'Lato'
  font-weight lighter
  width 273px
  height 36px
  padding-left 8px
  margin 7px
  border 2px solid #ABDEDA
  background #C8EBE4
  display block
  position relative
  float right

  h5
    font-weight normal
    padding-top 9px

  .step-circle
    right 8px
    top 5px
    position absolute
    background #26B8A7
    p
      font-size 24px
      font-weight 400
      padding-left 1px
      padding-top 1px

.send-header
  h2
    padding-top 40px
    padding-bottom 40px


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)

  .select-file .step-circle p
    padding-top 0px
    padding-left 0px
