.step1-item
  display inline
  float:left
  position relative
  left 20px
  opacity 0.5

#step-checked-img
  width 27px
  position relative
  top 3px
  left 4px

.send-2-container
  margin-top 0


.table-container
  background #fff
  // padding-bottom (164 + 64) + 0px


.table-container::-webkit-scrollbar
  display none


.data-form
  padding 0

.data-table
  margin-left auto
  margin-right auto
  width 100%

  thead
    background #939898
    .header-row
      height 70px
      font-weight 400
      text-align left
      th
        padding-top 27px
        padding-left 25px
        text-align left


  .data-row
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor pointer
    background #F2F2F0
    background-color #F2F2F0
    color black
    font-family "Lato"
    font-weight 400

    @-moz-document url-prefix()
      td
        padding-top 0

    td
      height 25px
      padding-left 25px
      padding-top 10px

  .data-row:nth-child(2n)
    background #EBEBE7

  .data-row:hover
    background #CFEAE7
    background-color #CFEAE7

  .table-footer
    .footer-row
      height 164px
      background #EBEBE7


  .filler-col
    width 18%
    opacity 0.5 !important


@-moz-document url-prefix()
  .data-table
    #data-row
      td
        padding-top 0


.check-input
  display none

.shell
  pointer-events none

.checkbox
  // display none
  display inline-block
  width 20px
  height 20px
  margin -1px 4px 0 0
  vertical-align middle
  background url(../images/small-checkbox.png) no-repeat
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

  cursor pointer

  &.is-checked
    background url(../images/small-checkedbox.png) no-repeat


.checkboxRow
  // display none
  display inline-block
  width 20px
  height 20px
  margin -1px 4px 0 0
  vertical-align middle
  background url(../images/small-checkbox.png) no-repeat
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

  cursor pointer

  &.is-checked
    background url(../images/small-checkedbox.png) no-repeat


.highlight-green
  background #CFEAE7 !important
  background-color #CFEAE7 !important

.button-form-wrapper
  display none
  position fixed
  left 0
  bottom 64px
  width 100%
  height 164px
  text-align center
  background transparent url(../images/table-fade-out.png) repeat-x center top

  .submit-data
    opacity 1
    height 45px
    width 200px
    position relative
    top 58px
    background #00A59D
    background-color #00A59D
    color white
    font-family Lato
    font-weight 600
    border none
    font-size 22px

    // @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
    //   line-height 2.3em



.odd
  background #EBEBE7

.hover_state
  background #CFEAE7
  background-color #CFE





@media all and (max-width: 1024px)
  .data-table
    .filler-col
      width 0 !important

.send-subheader
  position relative
  height 66px
  color #000
  background #ebebe7

.subheader
  &-left-item,
  &-right-item
    position absolute
    top 0
    width 152px
    text-align center
    opacity 0.5

  &-left-item
    left 0

  &-right-item
    right 0

  &-center-item
    margin 0 auto
    padding 0 180px
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    width 100%
    box-sizing border-box
    text-align center

@media all and (max-width: 768px)
  .subheader-center-item
    text-align left





