.banner-background {
	height: 150px;
	background: url(../images/home-background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	z-index: -1;

}


.send-banner {
	text-align: center;
}

#send-logo-image {
	width: 200px;
	margin-top 3.7em
}



.send-container{
	width:100%;
	background-color: #F2F2F0;
}

.send-container::-webkit-scrollbar
  display none

.send-header {
	height:115px;
	background-color: #F7F7F7;

}

#send-icon {
	width: 35px;
	padding-right: 8px;
	position: relative;
	top: 4px;
}

.header-text {
	font-family: 'Lato';
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 34px;
	color: black;
	text-align: center;
	font-weight: normal;
}

#send-head {
	padding-top 40px
	padding-bottom 40px
}


.send-subHeader {
	height: 66px;
	background-color: #EBEBE7;
	color: black;
	text-align: center;
	position: relative;
}

.step-text {
	display: inline-block;
	font-weight: bold;
	font-size: 24px;
	color: #51C6B2 ;
	padding-top: 22px;

}

.step-circle {
	display: inline-block;
	color: white;
	border-radius: 50%;
	behavior: url(PIE.php);
	width: 26px;
	height: 26px;
	font-family: "Lato";
	font-size: 24px;
	background: #51C6B2;
	position:relative;
	z-index: 0;
	text-align center
}

.send-filter-text {
	display: inline-block;
	font-weight: bold;
	padding-left: 8px;
	position: relative;
	bottom: 1px;
}

.instruction-text {
	font-style: italic;
	font-weight 400
	padding-left: 6px;
	font-size: 15px;
	position: relative;
	bottom 1px

}


.step2-item {
	display: inline;
	float: right;
	position: relative;
	right: 20px;
	opacity: 0.5;
}

.form-container {
	margin-top: 30px;
}


#form-send-id {
	width: 370px;
	margin:0 auto;
}



.srcTag {
	color:#496B71;
	font-size: 19px;
	float:left;
	line-height: 2.9em;
	position: relative;
}

.send-input {
	padding-left: 8px;
	font-family: 'Lato';
	font-weight: lighter;
	color: #4F6F75;
	font-size: 18px;
	width: 273px;
	height:36px;
	display: block;
	float: right;
	margin: 7px;
	border: 2px solid #ABDEDA;
}


.styled-select {
	margin: 7px;
	float: right;
  width: 282px;
  height: 42px;
  overflow: hidden;
  background: url(../images/list-arrow-sm.png) no-repeat right #ddd;
  background-position: 97% 56%;
  border: 2px solid #ABDEDA;
  background-color: #EFF9F8;
}

.styled-select select {
  background: transparent;
  width: 140%;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 41px;
  -webkit-appearance: none;
  position: relative;
  z-index: 0;
  // font-family: 'Lato';
  font-size: 18px;
  padding-left: 8px;
  color:#8C8F8F;
}

.styled-select select option {
	font-family: "Lato";
}


#send-button {
	width: 286px;
	height:40px;
	display: block;
	float: right;
	margin: 7px;
	border: 2px solid #00A59D;
	font-size: 19px;
	color:white;
	font-family: 'Lato';
	background:#00A59D;
}



#submit-img {
	width: 21px;
	position: relative;
	top:1px;
	left:6px;
}

@media only screen and (max-device-width: 768px)
	.send-input[type=text] {
		-webkit-appearance: none;
		-moz-appearance: none;
		border: 2px solid #abdeda;
		line-height: 20px;
		border-radius: 0;
		width:265px;
	}

