
/* Landing Page Styles*/

.circleChoice {
	display: inline;

}

#topNav{
	display: block !important;
	background-color: #AAE2D9 !important;
	opacity: 0.5 !important;
}

/*Login Page*/

#productName {
	display: block !important;
	background-color: #4D9DA2 !important;
}

#login input {
	line-height: 2.2em;
}


/* Send Step 1 Styles */

.send-input {
	line-height:2em;
}

.step-text {
	display: inline;
}

.step-circle {
	display: inline;
}

.step2-item {
	bottom: 45px;
	-moz-opacity: 0.50;
	opacity:.50;
	filter: alpha(opacity=50);
}

.styled-select {
	height: 29px;
}

.styled-select select {
	width: 282px;
}

.srcTag {
	color:#496B71;
	font-size: 19px;
	float:left;
	line-height: 2.5em;
	position: relative;
}

/*Send 2 Template*/

.header-row {
	height:45px !important;
}