.home-background {
	background: url(/images/home-background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}


.home-banner {
	text-align: center;
	margin-top: 65px;
	margin-bottom: 37px;
}


#home-logo-image {
	width: 300px;
}